.wrapper {
    padding: 16px;
    border: 1px solid white;
    border-radius: 16px;
    background-color: darkcyan;
    color: white;
    flex: 1 1 0px;
    &:hover {
        background-color: lightseagreen;
        cursor: pointer;
    }
    position: relative;
}

.help {
    position: absolute;
    right: 5%;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    &:hover {
        cursor: pointer;
        background-color: greenyellow;
    }
}
.helpContent {
    position: absolute;
    right: 0%;
    bottom: 100%;
    width: 100%;
    padding: 1vh;
    background-color: darkolivegreen;
    box-sizing: border-box;
    border-radius: 16px;
}
