.wrapper {
    padding: 16px;
    //margin: 16px 0;
    border: 1px solid white;
    border-radius: 16px;
    background-color: darkcyan;
    color: white;
    flex: 1 1 0px;
    &:hover {
        background-color: lightseagreen;
        cursor: pointer;
    }
}

