.wrapper {
    padding: 16px;
    border: 1px solid white;
    border-radius: 16px;
    background-color: darkcyan;
    color: white;
    flex: 1 1 0px;
    &:hover {
        background-color: lightseagreen;
        cursor: pointer;
    }
    display: flex;
}

.button {
    flex: 2 1 0px;
    height: 100%;
    display: flex;
    align-items: center;
}

.imageWrapper {
    flex: 1 1 0px;
    height: 32px;
}   

.image {
    width: 100%;
    height: 100%;
}
