.wrapper {
    padding: 16px;
    //margin: 16px 0;
    border: 1px solid white;
    border-radius: 16px;
    background-color: aquamarine;
    &:hover {
        background-color: aliceblue;
        cursor: pointer;
    }
}

