.wrapper {
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 16px;
    box-sizing: border-box;
	min-width: 0;
}

.item {
    white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
    &:has(img) {
        height: 5vh;
        width: 5vh;
        border-radius: 16px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;  
        &:hover {
            background-color: lightseagreen;
            cursor: pointer;
        }  
    }
}

.item img {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 16px;
}