.wrapper {
  border-radius: 16px;
  position: absolute;
  padding: 16px;
  width: 80%;
  height: 80%;
  background-color: lightcyan;
  left: 10%;
  top: 10%;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5vh
}

.buttonsWrapper {
    position: absolute;
    top: -6%;
    right: 0%;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid white;
    border-radius: 16px;
    background-color: lightcyan;
    display: flex;
    color: white;
    font-size: 2rem;
}

.title {
    color: darkslategrey;
    font-size: 1rem;
    align-self: center;
    flex-grow: 1;
    display: flex;
    padding: 0 1.5vh;
}

.button {
    width: 5%;
    height: 100%;
    background-color: darkcyan;
    border: 1px solid white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: lightseagreen;
        cursor: pointer;
    }
}

.button img {
    width: 100%;
    height: 100%;
}

.children {
    box-sizing: border-box;
    height: 80%;
    width: 100%;
    background-color: darkcyan;
    border-radius: 16px;
    border: 1px solid white;
    padding: 16px;
    position: relative;
}

.footer {
    box-sizing: border-box;
    height: 20%;
    width: 100%;
    background-color: darkcyan;
    border-radius: 16px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: space-evenly;
    gap: 1.5vh
}

.arrow {
    position: absolute;
    width: 7%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 16px;
    background-color: darkcyan;
    color: white;
    flex: 1 1 0px;
    &:hover {
        background-color: lightseagreen;
        cursor: pointer;
    }
}

.next {
    position: absolute;
    right: -10%;
    top: 50%;
}

.next img{
    width: 200px;
    max-height: 80%;
}

.previous {
    position: absolute;
    left: -10%;
    top: 50%;
}

.previous img{
    width: 200px;
    max-height: 80%;
}

.listWrapper {
    box-sizing: border-box;
    z-index: 2;
    border: 1px solid darkcyan;
    border-radius: 16px;
    padding: 1vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightcyan;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100%;
    scrollbar-color:lightgreen lightcyan;
    overflow-y: auto;
}