.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    justify-content: center;
    flex: 1 1 0px;
}

.buttonRowWrapper {
  display: flex;
  width: 100%;
  flex: 1 1 0px;
}