
:root{
  --center: #8DE3DC;
  --first-border: #0A8F87;
  --second-border: #2EC4B6;
  --third-border: #8DE3DC;
}

.loader.sm {
  --size: 1rem;
}

.loader.md {
  --size: 2rem;
}

.loader.lg {
  --size: 3rem;
}


.loader {
  width: var(--size);
  height: calc( var(--size) * 0.75);
  display: block;
  margin: auto;
  position: relative;
  border-radius: calc( var(--size) * 0.25);;
  background: radial-gradient(circle, var(--center), var(--second-border),var(--first-border));
  box-sizing: border-box;
  animation: animloader 0.9s 0.3s ease infinite alternate;
  align-self: center;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: var(--size);
  height: calc( var(--size) * 0.75);
  background: linear-gradient(to left, var(--first-border), var(--second-border), var(--third-border));
  position: absolute;
  border-radius: calc( var(--size) * 0.25);
  top: 0;
  right: 110%;
  animation: animloader 0.9s ease infinite alternate;
}
.loader::after {
  left: 110%;
  right: auto;
  animation-delay: 0.6s;
  background: linear-gradient(to right, var(--first-border), var(--second-border), var(--third-border));

}

@keyframes animloader {
  0% {
    width: var(--size);
  }
  100% {
    width: calc( var(--size) * 1.6);
  }
}
      
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
  align-items: center;
  color: white
}




