
.wrapper {
  background-color: lightseagreen;
  position: relative;
  width: 70%;
  padding: 1.5vh;
}

.mapWrapper{
  background-color: lightcyan;
  border-radius: 16px;
}

.errorWrapper {
  align-self: center;
}

.error {
  font-weight: bold;
}