.wrapper {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 2%;
    border-radius: 16px;
    border: 1px solid grey;
    background-color: lightcyan;
    flex: 1 1 0px;
    min-width: max-content;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}