.wrapper {
  width: 30%;
  background-color: lightseagreen;
  position: relative;
  padding: 1.5vh;
}

.buttonsWrapper {
  //background-color: lightcyan;
  display: flex;
  gap: 16px;
  flex-direction: column;
  height: 100%;
  border-radius: 16px ;
}

.buttonRowWrapper {
  display: flex;
  width: 100%;
}