.wrapper {
  flex: 2 1 0px;
  background-color: lightseagreen;
  position: relative;
  display: flex;
}

.buttonsWrapper {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.buttonRowWrapper {
  display: flex;
  width: 100%;
  flex: 1 1 0px;
}