.wrapper {
  width: 30%;
  background-color: lightseagreen;
  position: relative;
  height: auto;
  scrollbar-color:lightgreen lightseagreen;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100%;
}

.buttonsWrapper {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.buttonRowWrapper {
  display: flex;
  width: 100%;
  flex: 1 1 0px;
}