
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightseagreen;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.5vh 0;
}

.app-header {
  width: 100%;

  height: 15%;
  display: flex;
}

.app-main {
  width: 100%;
  height: 85%;
  display: flex;
  gap:1.5vh;
  flex-direction: row nowrap;
  padding: 0 1.5vh;
}

