
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightseagreen;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-wrapper {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.app-header {
  width: 100%;
  flex: 1 1 1px;
  display: flex;
}

.app-main {
  width: 100%;
  flex: 9 1 1px;
  display: flex;
  gap:1.5vh;
  flex-direction: row nowrap;
  padding: 0 1.5vh;
}

